<App>
    @using Microsoft.AspNetCore.Components.Routing

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
        </NotFound>
    </Router>
</App>
